In [1]:
#Q1
#Ans:-A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
#There are 4 types of databases ;
# 1.Hierarchical Databases
# 2.Relational Databases
# 3.Non_Relational Databases
# 4.Object oriented databases

# SQL is a relational database management system.These databases have fixed or static or predefined schema.These databases are best suited for complex queries.And sql follows ACID property.Ex:-MYSQL,Oracle,MS-SQL etc.

# where NoSQL is a Non-relational or distributed database system.They have dynamic schema.These databases are not so good for complex queries. And it follows Follows CAP(consistency, availability, partition tolerance).Ex:-MongoDB,HBase,Neo4i ,Cassandra etc.

In [2]:
#Q2
#Ans:-A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.Data Definition Language (DDL) is a subset of SQL.It is a language for describing data and its relationships in a database.

#CREATE TABLE creates a new table in the database
#Example
#CREATE TABLE test_table(c1 INT, c2 VARCHAR(30), c3 FLOAT, c4 VARCHAR()) ;
#DROP TABLE deletes a table in the database
#Example
#DROP TABLE test_table ;
#AFTER TABLE adds, deletes or modifies columns in a table.
#Example
#ALTER TABLE test_table
#ADD c5 varchar(255);
#TRUNCATETABLE deletes the data inside a table, but not the table itself.
#Example:
#TRUNCATE TABLE test_table ;

In [5]:
#Q3
#DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.
#INSERT is used for adding single or multiple rows to a table. INSERT can also add rows from one table into another table.
#Example
# INSERT INTO covid.Petient
#             (Surname, FirstName, DOB, Sex, [Weight], Height, Vaccinated)
# VALUES      ('Chakraborty', 'Diptajit','2002-07-25', 'M', 64.0, 5.11, 'Yes')
#UPDATE is used for changing a column value for one or multiple rows.
#Example
# CREATE TABLE student(name char(30), regno number(10), branch char(20), age char(10));
# INSERT INTO student values(‘hari’,100,’CSE’, 15);
# insert into student values(‘shyam’,99,’CSE’, 14);
# Select * from student;

In [6]:
#Q4
#Ans:-
#A primary key is the column or columns that contain values that uniquely identify each row in a table. A database table must have a primary key for Optim to insert, update, restore, or delete data from a database table.
#A foreign key (FK) is a column or combination of columns that is used to establish and enforce a link between the data in two tables to control the data that can be stored in the foreign key table
#Example
#Primary Key
# CREATE TABLE Persons (
#     ID int NOT NULL,
#     LastName varchar(255) NOT NULL,
#     FirstName varchar(255),
#     Age int,
#     PRIMARY KEY (ID)
# );

#Foreign Key
# CREATE TABLE Orders (
#     OrderID int NOT NULL,
#     OrderNumber int NOT NULL,
#     PersonID int,
#     PRIMARY KEY (OrderID),
#     FOREIGN KEY (PersonID) REFERENCES Persons(PersonID)
# );

In [8]:
#Q6
#Ans:-
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30) );")
# mydb.close()


#The Cursor() is used to execute statements to communicate with the MySQL database. Using the methods of it we can execute SQL statements, fetch data from the result sets, call procedures.
#The execute() returns an iterator if multi is True . In Python, a tuple containing a single value must include a comma.

In [9]:
#Q7
#Ans:
# The order in which the clauses in queries are executed is as follows:

# 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

# 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

# 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

# 4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

# 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

# 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

# 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.